@import url(headerFooter.css);
@import url(drivers.css);
.main{
    background: rgb(236, 235, 235);

}
.teamsContainer{
    padding-top: 70px;
}
.teamsWrapper{
    display: flex;
    
}
.teamsList{
padding: 0px !important;
flex-wrap: wrap;
}
/* prevent the teams profile from scrolling off screen */
.teamsProfileWrapper{
    min-height: 100%;
    align-items: flex-start;
}

.teamsProfile{
    position: sticky;
    top: 10px;
    right: 0;
    z-index: 99;
    overflow-y: inherit; /*allow its contents to be scrollable*/
    
}
.carPic{
    overflow: hidden;
    transition: .4s;
}
.f1Team{
    overflow: hidden;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-color: transparent;

}
/* add zoom onhover */
.f1Team:hover > .carPic{
    transform: scale(1.06);
    cursor: pointer;
}

/* changedetails colors */
.f1Team:hover > .teamDetails, .f1Team:hover table{
    background: rgb(4, 4, 10);
    
    color: #fff;
    cursor: pointer;
}

/* styling team details */
.teamDetails{
padding: 25px 10px;
overflow: visible;
position: relative;
background: #fff;
border-top: 5px solid;

}
.teamOverview{
    width: 50%;
    
}
.teamDetails table{
    padding-top: 30px;
    width: 50%;
    margin-left: 30px;
    color: #808080;
}
.flag{
    height: 30px;
    width: auto;
    border-radius: 5px;
    margin-top: 6px;
    margin-left: 0px;
    margin-right: 8px;
    
}
ul{
    list-style-type: none;
    padding-left: 15px;
}
li{
    margin-bottom: 13px;
    font-size: 14px;
    display: flex;
}
/* div with helmet icon */
.helmetIcon{
    margin-right: 18px;
    height: 20px;
    width: 20px ;
    background: url(racing-helmet.png);
    background-size: 20px 20px;
}
/* onhover swap background image for white icon */
.f1Team:hover  .helmetIcon{
    background: url(racing-helmet\ \(1\).png);
    background-size: 20px 20px;
    
    }
.podium{
    margin-top: 18px;
    margin-right: 5px;
    height: 20px;
    width: 20px ;
    background: url(podium.png);
    background-size: 21px 21px;
}

.f1Team:hover .podium{
    background: url(podium\ \(1\).png);
    background-size: 21px 21px;

}
.trophy{
    margin-right: 5px;
    margin-top: 18px;
    height: 20px;
    width: 20px ;
    background: url(trophy-variant-outline.png);
    background-size: 20px 20px;
}
.f1Team:hover .trophy{
    background: url(trophy-variant-outline\ \(1\).png);
    background-size: 20px 20px;
}
h2{
    margin-bottom: 25px;
}


.teamLogo{
    padding-right: 65px;
}
/* table styling */
.f1Team th{
    padding: 0px 3px 26px 3px;
    font-size: 10px;
    display: table-cell;
    display: flex;
    white-space: pre-line;
}
.f1Team td{
    padding: 0px 3px 26px 3px;
    font-size: 20px;

}

.f1Team tr:nth-child(odd){
    border-bottom: 1.5px solid #808080;
}
.f1Team th:nth-child(2){
   padding: 30px 3px 26px;
}
/* styling team profile details */
.profileContainer{
    background: #fff;
}
.profileContainer th{
    padding: 4px 0px 4px 10px;
    font-size: 15px;
}
.profileContainer td{
    padding-left: 5px;
    font-size: 15px;
}
.profileContainer table{
    margin-bottom: 20px;
}
.teamDrivers{
    display: flex;
}